:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.0;
  font-weight: 500;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 1px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 10vh;
}
.vite-react {
  color: rgb(28, 223, 28);
  background-color: #1a1a1a;
}
h1 {  
    background-color: #c2730c ; /* Cambia este valor por el color que desees */
    color: white; /* Color del texto */
    padding: 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados opcionales */
}

button {
  border-radius: 8px;
  border: 2px solid ;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #0e13a5;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #f0eee9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #b1a9a9;
  }
}
